body,
html {
    height: 100%;
    margin: 0%;
}

* {
    box-sizing: border-box;
}

.image {
    background-image: url("https://live.staticflickr.com/3471/3810870675_19995af211_b.jpg"); /* "Isola Bella-Taormina-Messina-Sicilia-                 Italy - Creative Commons by gnuckx" 
                    by gnuckx 
                    (https://www.flickr.com/photos/34409164@N06) is marked under 
                    CC0 1.0. To view the terms, visit 
                    https://creativecommons.org/licenses/cc0/1.0/ */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border:  solid #f1f1f1;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 2.8%;
    text-align: center;
}

.faq > ul > li:not(.is-active) > div {
    display: none;
}

form {
    color: white;
}

#contact {
    text-align: left;
}

@font-face {
    font-family: pirateFont;
    src: url(BlackPearl.ttf);
}

header {
    color: white;
    position: center;
    text-align: center;
    font-family: pirateFont;
    background-color: #333;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
}

header h1 {
    color: white;
    text-align: center;
    position: center;
    float: center;
}

/* Place the navbar at the top of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 3;

}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.85% 2.3%;
        /*14px 16px;*/
    text-decoration: none;
    font-size: 105%;
        /*17px;*/
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: auto;
}

@media screen and (min-width: 800px) {

    /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
}

@media screen and (max-width: 800px) {

    /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #0cd2f9;
    color: white;
}

a:link {
    color: cornflowerblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: cornflowerblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
